
/* CUSTOM IMG */

img[alt*="tabellaveritàimplicazionesingola.PNG"] {
  width: 30%;
}

img[alt*="tabellaveritàimplicazionedoppia.PNG"] {
  width: 30%;
}

img[alt="miopadre.jpg"] {
  width: 150%;
}

img[alt="schema-simboli-NUMERI1.png"]{
  width: 100%;
}

.operazioneBinaria img:nth-child(1) {
  width: 30%;
  box-shadow: none;
  background-color: transparent;
  filter: invert(1);
}

.proprietàcommutativa img:nth-child(1) {
  width: 40%;
  box-shadow: none;
  background-color: transparent;
  filter: invert(1);
}

/* CUSTOM Tables */



/* CSS */

:root {
  --strong-color: var(--text-normal);
  --em-color: var(--text-normal);
  font-size: 120%; /*scala il fontsize di tutto*/
}

body > div.modal-container.mod-confirmation > div.modal > div.modal-button-container > button:nth-child(1) {
  display: none;
}

h2 {
  border: none;
}

.markdown-preview-view h3, .HyperMD-header-3, .cm-header-3 {
  font-weight: var(--h2-weight) !important;
}

.markdown-preview-view h4 {
  text-transform: none;
  font-size: var(--text-normal);
  color: var(--h3-color);
}

.markdown-preview-view h5 {
  font-size: var(--h4);
  margin: 15px 0 -15px 0;
  color: #FBC02D;
}

.markdown-preview-view h6 {
  margin: 1em 0 15px 0;
}

.markdown-preview-view h6::after {
  content: "";
  display: block;
  width: 17.5%;
  height: 1px;
  background-color: var(--text-normal);
  margin-top: 5px;
}

h2::before {
  content: "2.";
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: #888;
  font-weight: 600;
}

h3::before {
  content: "3.";
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: #888;
  font-weight: 600;
}

h4::before {
  content: "4.";
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: #888;
  font-weight: 600;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

div .cm-line {
  font-weight: normal;
  font-size: 22px;
}

.HyperMD-list-line {
  padding-bottom: 5px !important;
  padding-left: 22px !important;
}

ul, ol {
  margin-block-start: -.75em;
  margin-block-end: .5em;
  padding-inline-start: 25px;
}

li {
  margin-bottom: 5px;
}

ul, ol li:last-child {
  margin-bottom: 0;
}

div .cm-formatting-list-ol {
  font-size: 18px;
  font-weight: 700;
}

li::marker {
  font-size: 18px;
}

.MJX-TEX {
  font-size: inherit;
}

span.math-inline mjx-container {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-right: 3px;
  padding-left: 2px;
}

span.math-inline mjx-container mjx-math {
  font-size: inherit;
}

/***************************************************************************************************************/

div.definizione {
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 1em;
  margin: calc(4px + .4em) auto;
  /* style */
  border: 3px #154360;
  border-style: solid dashed;
  outline: 4px solid #BFC9CA;
  font-family: serif;
  background-color: #BFC9CA;
  color: black;
}

div.definizione span mjx-math {
  font-size: .95em;
  font-weight: lighter;
}

div.definizione span.l, span.c, span.r {
  display: inline-grid;
  align-items: center;
  height: auto;
  width: 100%;
}

div.definizione span.l mjx-container {
  justify-self: baseline;
}

div.definizione span.c mjx-container {
  justify-self: center;
}

div.definizione span.r mjx-container {
  justify-self: end;
}

div.due_uno {
  display: inline-grid;
  width: 100%;
  height: fit-content;
  grid-template-columns: 50% 50%;
  align-items: center;
}

div.definizione div.due_uno span.l {
  justify-self: baseline;
}

div.definizione div.due_uno span.c {
  justify-self: center;
}

div.definizione div.due_uno span.r {
  justify-self: end;
}

/****************************************************************************************************************/


div[align*="center"] {
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -.5px;
  /*background-color: rgb(252, 219, 90);*/
  border-radius: 4px;
  border: 5px double #0057c1;
  color: var(--text-normal);
  width: 80%;
  padding: .15em .85em .3em .8em;
  margin: .4em auto;

  /*
  font-style: italic;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: -.5px;
  background-color: rgba(247, 220, 111,.65);
  border: 2px solid rgb(247, 220, 111); /*194, 185, 102/
  color: black;
  width: fit-content;
  padding: .4em .8em;
  margin: .4em auto;
  */
}

div[align*="center"] span {
  font-size: inherit;
  font-weight: 100;
}


center {
  font-family: Times;
  font-style: italic;
  font-size: 20px;
  width: fit-content;
  padding: 0 1em;
  margin: .4em auto;
  background-color: rgba(0, 0, 0, .1);
  box-shadow: inset 0px 0px 10px 10px #1D2126;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: .4em 1em !important;
}

#line_spacing {
  height: .3em;
}

#bigText {
  font-size: var(--h3);
  font-weight: bold;
}

.text_divisor::before {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background-color: var(--background-modifier-border);
  margin: 2em 0 .3em 0;
}