
/* CUSTOM CSS PER NOTA */

img[alt*="tabellaveritàimplicazionesingola.PNG"] {
  width: 30%;
}

img[alt*="tabellaveritàimplicazionedoppia.PNG"] {
  width: 30%;
}

img[alt="miopadre.jpg"] {
  width: 150%;
}

img[alt="schema-simboli-NUMERI1.png"]{
  width: 100%;
}


.operazioneBinaria img:nth-child(1) {
  width: 30%;
  box-shadow: none;
  background-color: transparent;
  filter: var(--invert-color);
}

.proprietàcommutativa img:nth-child(1) {
  width: 40%;
  box-shadow: none;
  background-color: transparent;
  filter: var(--invert-color);
}


/* TABELLA MIGLIORE CHE HO PER CSS SPECIFICO */
.proprietàdistributiva #tabella_1 {
  width: fit-content;
  height: fit-content;
  margin: .4em auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
  column-gap: 1em;
}




/* CSS */

:root {
  font-size: 100%; /*scala il fontsize di tutto*/
}

.theme-light {
  --strong-color: var(--text-normal) !important;
  /* --em-color: var(--text-normal); */
  --invert-color: invert(0);
  --important-color: #fff9c4;
  --warning-color: #d92424;
  --theorem-color: #3498db;
}

.theme-dark {
  --invert-color: invert(1);
  --important-color:  #1c0835 ;
}

body > div.modal-container.mod-confirmation > div.modal > div.modal-button-container > button:nth-child(1) {
  display: none;
}

h2 {
  border: none;
}

.markdown-preview-view h3, .cm-header-3 {
  font-weight: var(--h2-weight) !important;
}

.markdown-preview-view h4 {
  text-transform: none;
  font-size: var(--text-normal);
  color: var(--h3-color);
}

.markdown-preview-view h5 {
  font-size: var(--h4);
  margin: 15px 0 -15px 0;
  color: #FBC02D;
}

.markdown-preview-view h6 {
  margin: 1em 0 15px 0;
}

.markdown-preview-view h6::after {
  content: "";
  display: block;
  width: 17.5%;
  height: 1px;
  background-color: var(--text-normal);
  margin-top: 5px;
}

h2::before {
  content: "2.";
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: #888;
  font-weight: 600;
}

h3::before {
  content: "3.";
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: #888;
  font-weight: 600;
}

h4::before {
  content: "4.";
  display: inline-block;
  font-size: 15px;
  margin-right: 5px;
  color: #888;
  font-weight: 600;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  border-radius: 4px;
}

ol {
  list-style-type: lower-roman;
}

ul, ol {
  margin-block-start: -.75em;
  margin-block-end: .5em;
  padding-inline-start: 25px;
}

li {
  margin-bottom: .5em;
  line-height: 1.5em;
}

ul, ol li:last-child {
  margin-bottom: 0;
}

ol li::marker {
  font-size: 80%;
  font-weight: bold;
}

.MJX-TEX {
  font-size: inherit;
}

span.math-inline mjx-container {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-right: 3px;
  padding-left: 2px;
}

span.math-inline mjx-container mjx-math {
  font-size: inherit;
}

/***************************************************************************************************************/

span.definizione, span.due_uno{
  display: block;
}

.definizione {
  width: fit-content;
  min-width: 80%;
  max-width: 95%;
  height: fit-content;
  text-align: left;
  padding: 2em 1em 1em 1em;
  margin: calc(4px + .4em) auto;
  border: 2px solid var(--text-normal);
  font-family: serif;
  line-height: normal;
}

.definizione::before {
  content: "DEFINIZIONE";
  display: block;
  position: absolute;
  transform: translateY(-150%);
  width: fit-content;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #F1C40F;
  padding: 0 4px .5px 4px;
}

.definizione *:last-child {
  margin-bottom: 0;
}

.theme-light .definizione::before {
  background-color: #333;

}

.theme-dark .definizione::before {
  padding: 0;
}

.definizione span mjx-math {
  font-size: .9em;
  font-weight: lighter;
}

.definizione span.l, span.c, span.r {
  display: inline-grid;
  align-items: center;
  height: auto;
  width: 100%; 
}

.definizione span.l mjx-container {
  justify-self: baseline;
}

.definizione span.c mjx-container {
  justify-self: center;
}

.definizione span.r mjx-container {
  justify-self: end;
}

.due_uno {
  display: inline-grid;
  width: 100%;
  height: fit-content;
  padding-top: 1em;
  grid-template-columns: 80% 20%;
  grid-template-rows: 100%;
  align-items: center;
}

.definizione div.due_uno span.l {
  justify-self: baseline;
}

.definizione div.due_uno span.c {
  justify-self: center;
}

.definizione div.due_uno span.r {
  justify-self: end;
}

.definizione ol {
  padding: 1em 1em 0 1em;
  margin: 0;
  list-style-type: lower-roman;
  font-family: serif;
  line-height: normal;
}

.definizione ol li::marker {
  font-style: italic;
}

/****************************************************************************************************************/


div[align*="center"] {
  /* utilizzabile */
}

/* Per centrare e evidenziare il testo */
.importante {
  display: block;
  width: fit-content;
  padding: .5em;
  margin: .4em auto;
  text-align: center;
  line-height: 1.5em;

  /* style */
  color: var(--text-normal);
  background-color: var(--important-color);
  font-size: 95%;
  font-weight: 400;
  letter-spacing: -.5px;
  border: 2px solid var(--text-normal);
}

/* Casella che richiama l'attenzione sul testo */
.attenzione {
  width: fit-content;
  padding-left: 1.25em;
  margin: calc(1em + 25px) auto .4em 0;
  display: block;

  /* style */
  color: var(--text-normal);
  border-left: 4px solid var(--warning-color);
  font-size: 95%;
  line-height:150%;
}

.attenzione::before {
  content: "Attenzione:";
  display: block;
  position: absolute;
  transform: translate(-26%, -130%);

  /* style */
  font-size: 95%;
  line-height: normal;
  color: var(--warning-color);
  font-weight: bold;
}

.teorema {
  width: 100%;
  padding: .4em 1.25em;
  padding-right: 0;
  margin: calc(1em + 25px) auto .4em 0;
  display: block;

  /* style */
  color: var(--text-normal);
  border-left: 4px solid var(--theorem-color);
  background-color: #def0fb;
  font-size: 95%;
  line-height: 160%;
}

.teorema_titolo {
  display: block;
  position: absolute;
  width: 75%;
  height: fit-content;
  /* transform: translate(-30%, calc(-130% - 5px)); */
  transform: translate(-3%, calc(-130% - 5px));
  margin-left: auto;
  text-align: left;

  /* style */
  font-size: 95%;
  line-height: normal;
  color: var(--theorem-color);
  font-weight: bold;
}

.teorema_titolo::before {
  content: "➢ ";
}

.teorema_titolo a {
  color: var(--theorem-color);
  text-decoration: underline !important;
}

/* .teorema::before {
  content: "Teorema:";
  display: block;
  position: absolute;
  transform: translate(-30%, calc(-130% - 5px));

  /* style */
  /* font-size: 95%;
  line-height: normal;
  color: var(--theorem-color);
  font-weight: bold;
} */

.times {
  font-family: times;
  font-style: italic;
  font-size: 105%;
}

.center {
  display: block;
  text-align: center;
}

/* TAG HTML per centrare il testo */
center {
  font-family: Times;
  font-style: italic;
  font-size: 20px;
  width: fit-content;
  padding: 0 1em;
  margin: .4em auto;
  background-color: rgba(0, 0, 0, .1);
  /* box-shadow: inset 0px 0px 10px 10px #1D2126; per tema scuro */ 
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  padding: .4em 1em !important;
}

#line_spacing {
  height: .3em;
  width: 100%;
  display: block;
}

#bigText {
  font-size: 105%;
  font-weight: bold;
}

.text_divisor::before {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background-color: var(--background-modifier-border);
  margin: 2em 0 .3em 0;
}