body > div.modal-container.mod-confirmation > div.modal > div.modal-button-container > button:nth-child(1) {
  display: none;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

div .cm-line {
  font-weight: normal;
  font-size: 20px;
}

.HyperMD-list-line {
  padding-bottom: 5px !important;
  padding-left: 22px !important;
}

div .cm-formatting-list-ol {
  font-size: 15px;
  font-weight: 700;
}

.MJX-TEX {
  font-size: 22px;
}

mjx-container {
  /*box-shadow: inset 65px 0px 35px -42px #1F618D;*/
}

span mjx-container {
  background-color: transparent;
  border: none;
  box-shadow: none;
}